@import "vars";
.q-button{
    display:inline-block;
    width:40%;
    background-color:$blueColor;
    border-radius:10px;
    padding:1% 0;
    margin:1%;
    font-family:$font2;
    font-weight:bold;
    color:white;
    font-size:200%;
    border-style: none;
}

a.back-button{
    display:inline-block;
    width:40%;
    background-color:$yellowColor;
    font-family:$font2;
    font-size:200%;
    font-weight:bold;
    color:white;
    border-radius:10px;
    padding:1% 0;
    margin:20px 0 20px 0;
}

.section{
    text-align:center;
    font-family:$font2;
    font-size:200%;
    padding-bottom:20px;
    //margin-bottom:20px;
    margin:50px 50px 20px;
    border-bottom:2px dashed black;
}

.q-label{
    display:inline-block;
    font-family:$font2;
    font-size:140%;
    margin-left:20%;
}

.input-box{
    display:inline-block;
    margin-left:20%;
    margin-bottom:1%;
    width:60%;
}