.bodybox {
  margin: 50px auto;
  width: 80%;
  max-width: 1200px;
  text-align: center;
}
.questionbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-warp: wrap;
}
.questionbox .question {
  width: 70%;
  text-align: left;
}
.questionbox .question ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questionbox .question ul li:first-child {
  font-weight: 800;
  color: #4962ea;
  font-size: 32px;
  font-family: 'Kosugi Maru', sans-serif;
}
.questionbox .question ul li:last-child {
  width: 100px;
  margin: 0;
  text-align: center;
  font-family: 'Kosugi', sans-serif;
}
.questionbox .question p {
  font-size: 20px;
  font-family: 'Kosugi', sans-serif;
}
.questionbox .questioner {
  width: 20%;
  max-width: 240px;
  padding: 4%;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  font-family: 'Kosugi', sans-serif;
  font-weight: bold;
}
.questionbox .questioner p:nth-child(2) {
  font-size: 24px;
  margin: 10px auto;
}
.answers {
  margin: 36px auto;
  text-align: left;
  font-family: 'Kosugi Maru', sans-serif;
}
.answers > p {
  font-weight: 800;
  color: #ffcf24;
  font-size: 32px;
  font-family: 'Kosugi Maru', sans-serif;
}
