.bodybox {
  margin: 150px auto;
  width: 80%;
  max-width: 1200px;
  text-align: center;
}
.questionbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-warp: wrap;
}
.questionbox .question {
  width: 70%;
  text-align: left;
}
.questionbox .question ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questionbox .question ul li:first-child {
  font-weight: 800;
  color: #4962ea;
  font-size: 32px;
  font-family: 'Kosugi Maru', sans-serif;
}
.questionbox .question ul li:last-child {
  width: 100px;
  margin: 0;
  text-align: center;
  font-family: 'Kosugi', sans-serif;
}
.questionbox .question p {
  font-size: 20px;
  font-family: 'Kosugi', sans-serif;
}
.questionbox .questioner {
  width: 20%;
  max-width: 240px;
  padding: 4%;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  font-family: 'Kosugi', sans-serif;
  font-weight: bold;
}
.questionbox .questioner p:nth-child(2) {
  font-size: 24px;
  margin: 10px auto;
}
.answers {
  width: 70%;
  margin: 36px 0;
  text-align: left;
  padding_bottom: 36px;
  font-family: 'Kosugi Maru', sans-serif;
}
.answers > p {
  font-weight: 800;
  color: #ffcf24;
  font-size: 32px;
  font-family: 'Kosugi Maru', sans-serif;
}
.answerlist {
  margin-top: 20px;
}
.answerlist > ul li:first-child {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}
.answerlist > ul li:last-child {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #4962ea;
}
.right {
  text-align: right;
}
.btnBar {
  padding-top: 56px !important;
}
.blueBtn {
  width: 70%;
}
.blueBtn a {
  transition: ease 0.5s;
}
.blueBtn a:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}
.catesingle {
  display: flex;
  justify-content: space-between;
}
.catesingle li:last-child {
  color: #fff;
  width: 100px;
  text-align: center;
}
.cateList {
  display: flex;
  justify-content: flex-start;
  flex-warp: warp;
}
.cateList li {
  margin: 5px;
  width: 100px;
  text-align: center;
}
.cateList li a {
  text-align: center;
  color: #fff;
  width: 100px;
}
.quBtn {
  position: fixed;
  bottom: 50px;
  z-index: 99;
  margin: 0 auto;
  text-align: center;
  color: #4962ea;
  font-family: 'Kosugi', sans-serif;
  right: 30px;
}
.quBtn p:first-child {
  font-size: 80px;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
}
.quBtn p:last-child {
  margin-top: -20px;
  font-weight: 800;
  color: #4962ea !important;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
}
.question-border {
  margin-bottom: 50px;
}
