.questions-area {
  color: #4962ea;
  font-family: 'Kosugi Maru', sans-serif;
  border-top: dashed 2px gray;
}
.answers-area {
  color: #ffcf24;
  font-family: 'Kosugi Maru', sans-serif;
  margin-top: 50px;
  border-top: dashed 2px gray;
}
.user-info {
  background-color: whitesmoke;
}
.button form {
  display: inline-block;
}
.title > p {
  font-size: 20px;
}
.user-info {
  background-color: #f1f1f1;
  padding: 80px 50px;
  font-size: 20px;
  font-family: 'Kosugi', sans-serif;
}
.mypagequestion {
  with: 90%;
  margin: 80px 0 80px 50px;
  max-width: 1100px;
}
.mypage_question {
  display: flex;
  font-family: 'Kosugi', sans-serif;
  justify-content: space-between;
  align-items: center;
}
.mypage_question li {
  padding: 5px 0;
}
.mypage_question li:first-child {
  width: 60%;
}
.mypage_question li button {
  color: black;
  background: none;
  border: none;
}
