html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
li {
  list-style-type: none !important;
}
ul {
  padding: 0;
}
.tags {
  with: 100px;
  border-radius: 10px;
  color: #fff;
  font-family: 'Kosugi', sans-serif;
}
.phptag {
  background-color: #8993c1;
}
.laraveltag {
  background-color: #fc4f3d;
}
.csstag {
  background-color: #1f5faa;
}
.sasstag {
  background-color: #c15d8e;
}
.blueBtn a {
  background: #4962ea;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 30px;
  border-radius: 10px;
  font-family: 'Kosugi Maru', sans-serif;
}
.header {
  background-color: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.header .logo {
  border: 1px solid red;
}
.navbar-brand span {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Kosugi Maru', sans-serif;
  margin: 0 4px;
  text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.3);
}
.navbar-brand span:first-child {
  color: #4962ea;
}
.navbar-brand span:nth-child(2) {
  color: #ffcf24;
}
.navbar-brand span:last-child {
  color: #4962ea;
}
.accountbox {
  display: flex;
  align-items: center;
}
.count {
  margin-right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.count li a {
  color: #4962ea !important;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Kosugi', sans-serif;
}
.count li:last-child {
  margin-left: 4px;
}
footer {
  background: #4962ea;
  color: #fff;
  font-family: 'Kosugi', sans-serif;
  width: 100%;
}
footer p {
  margin: 0;
  text-align: center;
  padding: 10px 0;
}
.category {
  float: right;
}
.cate_hidden {
  opacity: 1;
}
.topPage {
  margin-top: 40px;
  margin-left: 30px;
}
.topPage .image {
  text-align: center;
  margin-left: -30px;
}
.topPage img {
  width: 100%;
}
.question_title {
  color: #4962ea;
  font-family: 'Kosugi Maru', sans-serif;
}
.category_title {
  border-bottom: 1px dashed black;
  color: #4962ea;
  font-family: 'Kosugi Maru', sans-serif;
}
.question-border {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  padding: 10px 0 10px 0px;
}
.topPage .question {
  margin-bottom: 30px;
}
.topPage .question h2 {
  color: black;
}
.huki {
  color: #4962ea;
}
.btn-posi {
  float: right;
  margin-top: 30px;
}
